.analytics {
  box-sizing: border-box;
  margin: 0;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: #F8F8F8;
  border-radius: 20px;

  @media screen and (max-width: 1024px) {
    padding: 20px 40px;
    align-self: self-start;
  }
}

.analytics__heading {
  margin: 0;
  padding: 0;

  font-family: $gilroy;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $trueBlack;

  @media screen and (max-width: 1024px) {
    font-size: 22px;
    line-height: 25px;
  }
}

.analytics__list {
  margin: 30px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;

  @media screen and (max-width: 1024px) {
    margin: 20px 0 0;
  }

  @media screen and (max-width: 768px) {
    align-self: flex-start;
  }
}

.analytics__item {
  position: relative;

  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;

    display: block;
    width: 6px;
    height: 6px;

    background-color: #CBA55C;
    border-radius: 50%;
  }
}

.analytics__text {
  margin: 0;
  padding: 0;

  font-family: $gilroy;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  //text-align: center;
  color: $trueBlack;
}
