.banner {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: calc(100% - 8px);
  max-width: 1200px;

  background-color: $darkBlue;
  border: 4px solid #D0D0D0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.banner__inner {
  margin: 0;
  padding: 40px 55px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.86fr;
  grid-column-gap: 20px;
  grid-row-gap: 25px;

  text-decoration: none;

  @media screen and (max-width: 1024px)  {
    padding: 30px 30px 25px;
  }

  @media screen and (max-width: 768px)  {
    grid-template-columns: 1fr 0.86fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }

  @media screen and (max-width: 500px)  {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 10px;
  }
}

.banner__image-wrapper {
  margin: 0;
  padding: 0;

  overflow: hidden;

  @media screen and (max-width: 768px)  {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.banner__building-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

  border-radius: 20px;
}

.banner__building-desc {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: 768px)  {
    grid-area: 2 / 1 / 5 / 2;
  }

  @media screen and (max-width: 500px)  {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.banner__title {
  display: block;
  margin: 0;
  padding: 10px 55px;

  font-family: $gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: $trueWhite;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;

  user-select: none;

  @media screen and (max-width: 1024px) {
    font-size: 30px;
    line-height: 36px;
  }

  @media screen and (max-width: 650px) {
    padding: 10px 30px;

    font-size: 20px;
    line-height: 25px;
  }
}

.banner__desc-list {
  margin: 25px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  list-style: none;
}

.banner__desc-item {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.banner__desc-text {
  margin: 0;
  padding: 0;

  font-family: $gilroy;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $trueWhite;

  user-select: none;

  @media screen and (max-width: 1024px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (max-width: 650px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.banner__graph {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px)  {
    grid-area: 1 / 2 / 2 / 3;
  }

  @media screen and (max-width: 500px)  {
    grid-area: 3 / 1 / 4 / 2;
  }
}

.banner__graph-img {
  display: block;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 1024px) {
    margin-top: 30px;
    width: 200px;
    height: auto;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.banner__percent {
  position: absolute;
  top: 25px;
  left: 25px;

  display: block;
  margin: 0;
  padding: 0;

  font-family: $gilroy;
  font-style: italic;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  color: $greenMain;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);

  @media screen and (max-width: 1024px) {
    top: 15px;
    left: 15px;
  }

  @media screen and (max-width: 768px)  {
    top: 30px;
    left: 30px;

    font-size: 60px;
    line-height: 65px;
  }

  @media screen and (max-width: 500px)  {
    top: 45px;
    left: 45px;

    font-size: 50px;
    line-height: 55px;
  }
}

.banner__current-price {
  margin: 0;
  padding: 0;

  @media screen and (max-width: 768px)  {
    grid-area: 2 / 2 / 3 / 3;
  }

  @media screen and (max-width: 500px)  {
    grid-area: 4 / 1 / 5 / 2;
  }
}

.banner__predict-price {
  margin: 0;
  padding: 0;

  @media screen and (max-width: 768px)  {
    grid-area: 4 / 2 / 5 / 3;
  }

  @media screen and (max-width: 500px)  {
    grid-area: 6 / 1 / 7 / 2;
  }
}

.banner__hint {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: 768px)  {
    grid-area: 3 / 2 / 4 / 3;
  }

  @media screen and (max-width: 500px)  {
    grid-area: 5 / 1 / 6 / 2;
  }
}

.banner__hint-text {
  position: relative;

  display: block;
  margin: 0;
  padding: 80px 0 0;

  font-family: $gilroy;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $darkGrey;

  user-select: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;

    display: block;
    width: 64px;
    height: 64px;

    background-image: url("../img/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transform: translateX(-32px);
  }

  &::before {
    top: 12px;
  }

  &::after {
    top: 3px;

    transform: translateX(-55px);
    opacity: 0.1;
  }

  @media screen and (max-width: 768px)  {
    padding: 50px 0 0;

    &::before,
    &::after {
      width: 30px;
      height: 30px;

      transform: translateX(-32px);
    }

    &::after {
      transform: translateX(-45px);
    }
  }
}
