.desc-layout {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 325px;
  grid-column-gap: 70px;
  grid-row-gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.desc-layout__heading {
  margin: 0;
  padding: 0;
  grid-area: 1 / 1 / 2 / 3;

  @media screen and (max-width: 768px) {
    grid-area: auto;
  }
}

.desc-layout__desc {
  margin: 0;
  padding: 0;
}

.desc-layout__analytics {
  margin: 0;
}

.desc-layout__link {
  box-sizing: border-box;
  margin: 20px 0 0;
  padding: 10px 60px;
  justify-self: self-start;

  font-family: $gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $trueWhite;
  text-decoration: none;

  background: #CBA55C;
  border: none;
  border-radius: 40px;

  cursor: pointer;

  @include smooth;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #CBA55C;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;
    align-self: center;
  }

  @media screen and (max-width: 500px) {
    font-size: 14px;
    line-height: 18px;
  }
}
