.desc-layout {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 325px;
  grid-column-gap: 70px;
  grid-row-gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.desc-layout__heading {
  margin: 0;
  padding: 0;
  grid-area: 1 / 1 / 2 / 3;

  @media screen and (max-width: 768px) {
    grid-area: auto;
    justify-self: center;
  }
}

.desc-layout__desc {
  margin: 0;
  padding: 0;
}

.desc-layout__analytics {
  margin: 0;
}
