.main-content {
  margin: 50px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.main-content__tagline {
  margin: 0 auto;
  padding: 0 15px;
}

.main-content__banner {
  margin: 45px auto 0;
  padding: 0;
}

.main-content__buildings-layout {
  margin: 45px auto 0;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.main-content__preview {
  margin: 65px 0 0;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.main-content__heading {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

.main-content__features {
  margin: 35px auto 0;
  padding: 0 15px;
}

.main-content__details-layout {
  margin: 30px auto 0;
  padding: 0 15px;
}

.main-content__tip {
  margin: 65px auto 0;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 20px;
  }
}

.main-content__desc-layout {
  margin: 65px auto 0;
  padding: 0 15px;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }
}

.main-content__map {
  margin: 65px 0 0;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.main-content__special-buildings {
  margin: 65px auto 0;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.main-content__form {
  margin: 65px auto 0;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.main-content__about-layout {
  margin: 0 auto;
  padding: 0 15px;
}
