.tip {
  box-sizing: border-box;
  margin: 0;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

.tip__inner {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  display: flex;

  background: $darkBlue;
  border-radius: 20px;
}

.tip__text {
  position: relative;

  margin: 0;
  padding: 0 0 0 45px;
  min-height: 36px;
  display: flex;
  align-items: center;

  font-family: $gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: $trueWhite;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 36px;
    height: 36px;

    background-image: url("../img/tip-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media screen and (max-width: 768px) {
    font-weight: 600;
  }

  @media screen and (max-width: 500px) {
    font-size: 14px;
    line-height: 18px;
  }
}
